<!DOCTYPE html>
<html>
  <head>
    <title>Boolean Retrieval</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/display_style.css') }}" type = "text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body class="w3-black">
    <div class="w3-container w3-padding-large w3-white">
        <div class="d-flex justify-content-center">
                <form method="POST" action="{{ url_for('upload') }}" class="searchbar" style="margin-top: 10px; margin-right: -10px;">
                    <input type="text" class="search_input" placeholder="Search here" name="query"/>
                    <button class ="search_icon" type="submit"><i class="fas fa-search"></i></button>
                  </form>
        </div>
    </div>
    <div class="w3-container w3-gray">
        <p><b>{{num_docs}} Documents retrieved in: {{time}}</b></p>
    </div>
    <div class="w3-container w3-padding-large w3-black">
      <div class="w3-row-padding w3-grayscale">
        {% for key, value in dictionary.items() %}
        <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-white">
            <div class="w3-container">
              <h3 class="w3-text-black"><b>{{key}}</b></h3>
              <button onclick="myFunction()" class="w3-button w3-black w3-padding-medium w3-opacity w3-hover-opacity-off" id = "{{key}}" value="{{value}}">Click to read!</button>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
  <footer class="w3-center w3-gray w3-padding-64">
    <div class="w3-large w3-padding-32">
      <p class="w3-xlarge"><br><br></p>
      <a href="#" style="color: blue; text-decoration: none; "><strong>18K-0223 Aftab Ahmed</strong>
  </div>
  </footer>
    <div id="menu" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
          <div class="w3-container w3-black w3-display-container">
            <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large w3-gray">x</span>
            <div class="dic1">
                <h1>Starters</h1>
            </div>
            </div>
            <div class="w3-container dic w3-text-black">
                <p><b></b></p>
            </div>
        </div>
      </div>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>
          function myFunction() {
            var x = document.getElementById('menu');
            x.style.display='block';
            }
            $("button").click(function() {
            var fired_button = $(this).val();
            $('.dic p').text(fired_button);
            $('.dic1 h1').text($(this).attr("id"));
            });

        
      </script>
  </body>
</html>
